h1, h2, p{
    margin: 0;
}

h2{
    font-weight: normal;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0 9.85rem;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.socials{
    display: flex;
    gap: clamp(0rem, 7vw,5.5rem);
    justify-content: center;
}

.socials img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (width < 1125px) {
    .content{
        margin: 0 1.88rem;
    }
}