.content{
    display: flex;
    flex-direction: column;
    margin: 0 9.85rem;
    gap: 1.5rem;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.cards img {
    width: 100%;
    height: auto;
    display: block;
}

h1{
    margin: 0;
}

@media (width <= 727px) {
    .cards{
        grid-template-columns: 1fr;
    }
}

@media (width < 1125px) {
    .content{
        margin: 0 1.88rem;
    }
}