<section id="home" class="content">
    <div class="greeting">
        <h1>Hello!</h1>
        <h2>My name is Kira. I’m a undergraduate with a passion for <strong style="color: #EB338E">UI/UX</strong>, <strong style="color: #ED8337">game development</strong>, <strong style="color: #46B8C5">graphic design</strong>, and <strong style="color: #BA62C9">visual narrative</strong>.</h2>
    </div>
    <div class="buttons">
        <button routerLink="/portfolio"><img src="/portfolio-button.svg"></button>
        <button routerLink="/contact"><img src="/contact-button.svg"></button>
    </div>
</section>